*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    list-style: none;
}

:root {
    --brand-blue: #0c2340;
    --brand-blue-dark: #081629;
    --brand-blue-light: #143865;
    --brand-gold: #ae9142;
    --brand-gold-dark: #8c7535;
    --brand-gold-light: #d39f10;
    --link-blue: #0c2340;
    --font-default: "Libre Franklin", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
    --font-heading: GPC, "Arial Narrow", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
    --font-heading-article: "Sumana", Georgia, "Times New Roman", Times, serif;
    --gray: #555;
    --gray-dark: #333;
    --gray-light: #d2d2d2;
    --gray-extra-light: #f0f0f0;
    --sky-blue: #e1e8f2;
    --sky-blue-light: #edf2f9;
    --sky-blue-dark: #c1cddd;
    --grid-gap: 1.4rem;
    --anim-duration: 325ms;
    --anim-duration-fast: 125ms;
    --anim-duration-slow: 500ms;
    --anim-ease: ease-in-out;
}


  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }


 
  nav{
    background-color: var(--brand-blue);
    position: fixed;
    width: 100%;
    top: 0;
    padding: 10px;
    border-top: 5px solid var(--brand-gold-dark);
    z-index: 99;
  }
  
nav ul {
    display: flex;
    gap: 1em;
}
nav{
    display: flex;

    justify-content: end;
}
nav ul li a img{
    width: 20px;
}
nav ul li{
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
}
nav ul li:hover{
background-color: var(--brand-blue-light);
}
nav ul li a{
    color: var(--gray-light);
}


.log{
    display: flex;
     align-items: center;
     gap: 5px;
    margin-top: 3em;

}
.log img{
    width: 70px;
}
.log-text{
    color: var(--gray-extra-light);
    display: flex;
    flex-direction: column;
    gap: 5px;
  
}
.log-text h4{
    font-family: var(--font-default);
    /* word-spacing: 10px; */
    letter-spacing: 5px;
}
.log-text h2{
    font-family: var(--font-heading-article);
    letter-spacing: 2px;
}


.top{
    background-color: var(--brand-blue);
    padding: 10px ;
    /* width: 400px; */
  }

  #small-nav{
    display: flex;
    transform: translateY(-30%);
    justify-content: end;
    position: absolute;
    right: 100px;
  }
  #small-nav ul{
    display: flex;
    gap:1em;
    padding: 1.5em  1em;
    background-color: white;
    
  }
  #small-nav ul li a{
    color: var(--brand-gold-dark);
    font-size: 20px;
  }

  .boxes{
    background-image: url("../images/feature-bg-1600.jpeg");
    padding: 4em 0;
    display: grid;
    grid-template-columns:1fr 2fr;
  }

  .content-section{
    /* display: flex; */
    padding: 1.5em;
  }
  #intro{
    padding: 0 10px;
  }
  #intro h1{
    font-size: 3em;
    color: var(--brand-blue);
    text-justify: distribute;
    display: flex;
  }
  #intro::after{
    content: "";
    /* padding: 8px; */
    height: 5px;
    background-color: #8c7535;
    width: 200px;
    position: absolute;
    left: 10px;
  }

  .content-section button{
    margin-top: 1em;
    background-color: white;
    border-radius: 10px;
    display: flex;
  
    padding: 10px 5px;
    font-size: 20px;
    color: var(--brand-blue);
  }
  .content-section button img{
    width: 30px;
  }
  .img-section{
    /* flex: 1; */
    display: flex ;
    justify-content: end;
    position: relative;
  }

  .img-section img{
    width: 90%;
    margin-right:0;
    object-fit: cover;
  }
  #border{
    width: 89%;
height: 95%;
    border: 1px solid white;
    border-right: 0;
    position: absolute;
    left: 110px;
    top: 10px;
    /* left: 50%;
    right: 50%; */
    /* transform: translate(50% 50%); */
  }
